@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee !important;
  font-size: 62.5%;
}
.placeHolder_text {
  color: #aaaaaa;
}
* {
  margin: 0;
  padding: 0;
}

.MuiTab-root.Mui-selected {
  text-transform: uppercase !important;
}

.MuiGrid-root {
  align-items: center;
}
.MuiFormLabel-asterisk {
  color: red;
}
@media (max-width: 34em) {
  .css-1o83tna-MuiFormControl-root {
    min-width: 20px !important;
  }
}
