#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout .site-layout-background {
  background: #fff;
}

section {
  height: 100%;
}



aside {
  background-color: #fff !important;
  padding: 4px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}

html,
body {
  height: 100%;
  width: max-content;
    min-width: -webkit-fill-available;
    height: -webkit-fill-available;
}

#maindiv,
#root, .App {
  height: 100%;
  width:100%;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root .MuiListItemIcon-root {
  color: white
}

#layout-menu-image {
  width: 35px;
}

#menu-box {
  border-right-style: groove;
  height: 100%;
  color: white;
  overflow: hidden;
}

#logoimage {
  margin-top: 8px;
  text-align: left !important;
}
#header-email-id{
  font-family:  Roboto;
  margin-top: 14px;
}
.scrollable-element {
  scrollbar-width: thin;
}
#menu-box nav{
  height:100% !important;
}

.simplebar-wrapper{
  height:100%;
}

#simple-bar {
  height:100%;
}
.simplebar-content-wrapper, .simplebar-content{
  height:100% !important;
}