body {
  background-color: #eeeeee !important;
}

.MuiFormLabel-asterisk {
  color: red;
}
@media (max-width: 34em) {
  .css-1o83tna-MuiFormControl-root {
    min-width: 20px !important;
  }
}
.placeHolder_text {
  color: #aaaaaa;
  padding: 0;
  margin: 0;
  font-family: "Roboto" !important;
  font-weight: 400;
  font-size: "0.875rem";
}
@media (max-width: 34em) {
  .MuiTabs-flexContainer {
    gap: 0.5rem;
  }
}

h4 {
  margin-block-start: 5px;
  margin-block-end: 5px;
  color: #003f7c;
  font-family: "Roboto" !important;
}
