#footer-removefor-datagrid .MuiDataGrid-footerContainer {
  display: none;
}

.super-app-theme--odd {
  background-color: lighten("#D7D7D7", 0.15);
}
.super-app-theme--even {
  background-color: lighten("#AAAAAA", 0.15);
}
