#footer-removefor-datagrid .MuiDataGrid-footerContainer {
  display: none;
}

.super-app-theme--odd {
  background-color: lighten("#D7D7D7", 0.15);
}
.super-app-theme--even {
  background-color: lighten("#AAAAAA", 0.15);
}


.MuiDataGrid-root .MuiDataGrid-cell{
  white-space: normal !important;
  word-wrap: break-word !important;
  }

  #stlap-accrual-textarea{
    border-color: azure;
  }

 #accrual-clear-button   :hover{
background-color: unset !important;
  }
  
  #accrual-waiver-remark{
    font-family: Roboto !important;
    color: rgba(0, 0, 0, 0.699) !important;
    font-weight: bold !important;
  }