.recharts-wrapper {
  margin-left: -12px !important;
  color: white;
}
#card-design {
  background: linear-gradient(
    310deg,
    rgba(28, 55, 129, 1) 50%,
    rgba(9, 9, 121, 1) 1%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}
#monthwise-chart {
  background: rgb(28, 74, 129);
  background: linear-gradient(
    90deg,
    rgba(28, 74, 129, 1) 0%,
    rgba(9, 121, 31, 1) 99%,
    rgba(0, 212, 255, 1) 100%
  );
}
