.recharts-wrapper {
  margin-left: -12px !important;
  color: white;
}
#card-design {
  background: #b3b3b3;
  /* background: linear-gradient(
    90deg,
    rgba(70, 183, 205, 1) 85%,
    rgba(46, 75, 235, 1) 100%,
    rgba(38, 63, 205, 1) 100%
  ); */
  color: white;
}
#monthwise-chart {
  /* background: rgb(28, 74, 129);
  background: linear-gradient(
    90deg,
    rgba(28, 74, 129, 1) 0%,
    rgba(9, 121, 31, 1) 99%,
    rgba(0, 212, 255, 1) 100%
  ); */
}
